In [7]:
#pip install yfinance

In [1]:
import base64
import requests
import pandas as pd
import yfinance as yf

In [2]:
msg = "openbb:mindsdb2024"
msg_bytes = msg.encode("ascii")
base64_bytes = base64.b64encode(msg_bytes)
base64_msg = base64_bytes.decode("ascii")

def callandstore(parameter_list):
    
    json_results = []
    df = None
    
    for value in symbol_list:
        # Construct the dynamic API request URL with the current value
        url = f"http://mindsdb2024.openbb.dev/api/v1/equity/price/quote?provider=intrinio&symbol={value}&source=intrinio_mx"
        headers = {"accept": "application/json", "Authorization": f"Basic {base64_msg}"}
        response = requests.get(url=url, headers=headers)
        #print(response)

        # Check if the request was successful (status code 200)
        if response.status_code == 200:
            # Append the JSON result to the list
            json_results.append(response.json())     
            #print(response.status_code)

            # Convert the list of JSON results to a DataFrame
            if df is not None:
                temp_df = pd.DataFrame(response.json()['results'])
                df = pd.concat([df, temp_df], ignore_index=True)
                #print("went to loop1")
            else:
                df = pd.DataFrame(response.json()['results'])
                #print("went to loop2")
            
        else:
            # Print an error message if the request was not successful
            print(f"Error for value {value}: {response.status_code}")
    return df

In [3]:
symbol_list = ("SPY","DOCU","AAPL", "GOOGL", "MSFT", "AMZN", "TSLA")

In [4]:
results_df = callandstore(symbol_list)

In [81]:
display(results_df)

,symbol,asset_type,name,exchange,bid,bid_size,bid_exchange,ask,ask_size,ask_exchange,...,exchange_volume,prev_close,change,change_percent,year_high,year_low,is_darkpool,source,updated_on,security
0,SPY,None,None,None,0.0,0,None,0.00,0,None,...,0.0,None,None,None,None,None,False,iex,2024-01-26T21:59:03.049000Z,"{'id': 'sec_y1p2ez', 'company_id': None, 'name..."
1,DOCU,None,None,None,0.0,0,None,0.00,0,None,...,0.0,None,None,None,None,None,False,iex,2024-01-26T21:00:32.342000Z,"{'id': 'sec_gQkbxb', 'company_id': None, 'name..."
2,AAPL,None,None,None,185.0,100,None,194.19,100,None,...,0.0,None,None,None,None,None,False,iex,2024-01-26T20:59:59.941000Z,"{'id': 'sec_agjrgj', 'company_id': None, 'name..."
3,GOOGL,None,None,None,0.0,0,None,0.00,0,None,...,0.0,None,None,None,None,None,False,iex,2024-01-26T21:00:41.008000Z,"{'id': 'sec_gDaqnX', 'company_id': None, 'name..."
4,MSFT,None,None,None,375.0,100,None,404.00,200,None,...,0.0,None,None,None,None,None,False,iex,2024-01-26T20:59:59.971000Z,"{'id': 'sec_XaL6mg', 'company_id': None, 'name..."
5,AMZN,None,None,None,0.0,0,None,0.00,0,None,...,0.0,None,None,None,None,None,False,iex,2024-01-26T21:01:16.261000Z,"{'id': 'sec_ogDm2X', 'company_id': None, 'name..."
6,TSLA,None,None,None,0.0,0,None,183.23,200,None,...,0.0,None,None,None,None,None,False,iex,2024-01-26T21:01:17.064000Z,"{'id': 'sec_XLD61X', 'company_id': None, 'name..."

In [7]:
display(results_df[['symbol','last_price','last_timestamp']])

  symbol  last_price               last_timestamp
0    SPY      487.21  2024-01-26T21:17:33.050000Z
1   DOCU       62.62  2024-01-26T20:59:56.312000Z
2   AAPL      192.24  2024-01-26T20:59:58.003000Z
3  GOOGL      152.26  2024-01-26T20:59:59.417000Z
4   MSFT      403.87  2024-01-26T20:59:59.353000Z
5   AMZN      159.11  2024-01-26T20:59:57.209000Z
6   TSLA      183.23  2024-01-26T20:59:57.964000Z

In [8]:
# Specify the full path to the folder where you want to save the CSV file
folder_path = '/Users/udayasuryav/Desktop/mindsdb'

# Save the dataframe to a CSV file in the specified folder
#results_df.to_csv(f'{folder_path}/stock_data.csv', index=False)

results_df[['symbol','last_price','last_timestamp']].to_csv(f'{folder_path}/stock_01_28.csv', index=False)

In [31]:
#Get the name of the company from the ticker
#Get the executives for the company


# Get a list of ticker symbols from Yahoo Finance
ticker_list = ["DOCU"] #symbol_list
ticker_list = symbol_list
ticker_df = None

# Access individual tickers
for ticker in ticker_list:
    result_ticker = yf.Ticker(ticker)
    info = result_ticker.info
    temp_info = info.get('longName', 'N/A')
    if ticker_df is not None:
        temp_ticker_df = pd.DataFrame()
        temp_ticker_df['ticker']=ticker
        temp_ticker_df['longname']=temp_info
        ticker_df = pd.concat([ticker_df, temp_ticker_df], ignore_index=True)
    else:
        ticker_df = pd.DataFrame()
        ticker_df['ticker']=ticker
        ticker_df['longname']=temp_info

In [20]:
symbol_list = ("SPY","DOCU","AAPL", "GOOGL", "MSFT", "AMZN", "TSLA")
result_list = []
for ticker in symbol_list:
    result_ticker = yf.Ticker(ticker)
    info = result_ticker.info
    temp_info = info.get('longName', 'N/A')
    print(ticker,temp_info)

SPY SPDR S&P 500 ETF Trust
DOCU DocuSign, Inc.
AAPL Apple Inc.
GOOGL Alphabet Inc.
MSFT Microsoft Corporation
AMZN Amazon.com, Inc.
TSLA Tesla, Inc.

In [23]:
def callandstore_news(param_list):
    
    json_results = []
    df = None
    
    for value in param_list:
        # Construct the dynamic API request URL with the current value
        API_KEY = '41f219c66feb48f1b53db8a67016c4ac'
        url = f"https://newsapi.org/v2/top-headlines?q={value}&country=us&source=google_news&apiKey={API_KEY}"
        response = requests.get(url=url)
        #print(response)

        # Check if the request was successful (status code 200)
        if response.status_code == 200:
            # Append the JSON result to the list
            json_results.append(response.json())     
            #print(response.status_code)

            # Convert the list of JSON results to a DataFrame
            if df is not None:
                temp_df = pd.DataFrame(response.json()['articles'])
                df = pd.concat([df, temp_df], ignore_index=True)
                #print("went to loop1")
            else:
                df = pd.DataFrame(response.json()['articles'])
                #print("went to loop2"
            
        else:
            # Print an error message if the request was not successful
            print(f"Error for value {value}: {response.status_code}")
    return df

In [28]:
news_channel = ['DocuSign']
news_df = callandstore_news(news_channel)

In [29]:
display(news_df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
# Save the dataframe to a CSV file in the specified folder
news_df.to_csv(f'{folder_path}/news_data.csv', index=False)

In [57]:
API_KEY = '41f219c66feb48f1b53db8a67016c4ac'
#url = f"https://newsapi.org/v2/top-headlines?q=Docusign&source=google-news&apiKey={API_KEY}"
url = f"https://newsapi.org/v2/top-headlines?q=Apple&apiKey={API_KEY}"
response = requests.get(url=url)
for i in response.json()['articles']:
    if df is not None:
    temp_df = pd.DataFrame(response.json()['articles'])
    df = pd.concat([df, temp_df], ignore_index=True)
    #print("went to loop1"
else:
    df = pd.DataFrame(response.json()['articles'][value]['content'])
    #print("went to loop2"
# response.json()['articles'][0]['content']
# response.json()['articles'][1]['content']

'Spotify accuses Apple of extortion with new App Store tax\r\nSpotify accuses Apple of extortion with new App Store tax\r\n / Spotify CEO Daniel Ek says Apples new rules represent a monopoly under a diffe… [+2232 chars]'

In [75]:
API_KEY = '41f219c66feb48f1b53db8a67016c4ac'
#url = f"https://newsapi.org/v2/top-headlines?q=Docusign&source=google-news&apiKey={API_KEY}"
url = f"https://newsapi.org/v2/top-headlines?q=Apple&category=business&source=google-news&apiKey={API_KEY}"
response = requests.get(url=url)
response.json()['articles']
#response.json()['articles'][0]['title']
#response.json()['articles'][0]['publishedAt']

[{'source': {'id': None, 'name': 'Www.rfi.fr'},
  'author': 'RFI - 法国国际广播电台',
  'title': '苹果2023年中国智慧型手机市占率达19% 首度居首 - RFI - 法国国际广播电台',
  'description': '（法新社北京26日电）    最新公布的数据显示，苹果公司（Apple）2023年在中国市场的智慧型手机出货占比首度居首，尽管华为等本地对手的竞争更加激烈。',
  'url': 'https://www.rfi.fr/cn/%E8%B4%A2%E7%BB%8F%E5%BF%AB%E8%AE%AF/20240126-%E8%8B%B9%E6%9E%9C2023%E5%B9%B4%E4%B8%AD%E5%9B%BD%E6%99%BA%E6%85%A7%E5%9E%8B%E6%89%8B%E6%9C%BA%E5%B8%82%E5%8D%A0%E7%8E%87%E8%BE%BE19-%E9%A6%96%E5%BA%A6%E5%B1%85%E9%A6%96',
  'urlToImage': 'https://static.rfi.fr/meta_og_twcards/RFI_FB.png',
  'publishedAt': '2024-01-26T19:32:07Z',
  'content': '26/01/2024 - 20:3226/01/2024 - 20:05'},
 {'source': {'id': 'google-news', 'name': 'Google News'},
  'author': 'El Colombiano',
  'title': 'Abren en Medellín la segunda tienda APP de Apple - El Colombiano',
  'description': None,
  'url': 'https://news.google.com/rss/articles/CBMicGh0dHBzOi8vd3d3LmVsY29sb21iaWFuby5jb20vdGVjbm9sb2dpYS90aWVuZGEtYXBwLWRlLWlzaG9wLWVuLWVsLWNlbnRyby1jb21lcmNpYWwtb3ZpZWRvLWRlLW1lZGVsbGltLUhHMjM2MTc5OTDSAXRodHRwczovL3d3dy5lbGNvbG9tYmlhbm8uY29tL2FtcC90ZWNub2xvZ2lhL3RpZW5kYS1hcHAtZGUtaXNob3AtZW4tZWwtY2VudHJvLWNvbWVyY2lhbC1vdmllZG8tZGUtbWVkZWxsaW0tSEcyMzYxNzk5MA?oc=5',
  'urlToImage': None,
  'publishedAt': '2024-01-26T15:42:39Z',
  'content': None},
 {'source': {'id': 'google-news', 'name': 'Google News'},
  'author': 'Visual Capitalist',
  'title': 'Charted: 20 Years of Apple vs. Microsoft, b y Market Capitalization - Visual Capitalist',
  'description': None,
  'url': 'https://news.google.com/rss/articles/CBMiPWh0dHBzOi8vd3d3LnZpc3VhbGNhcGl0YWxpc3QuY29tL2FwcGxlLXZzLW1pY3Jvc29mdC0yMC15ZWFycy_SAQA?oc=5',
  'urlToImage': None,
  'publishedAt': '2024-01-26T13:11:37Z',
  'content': None},
 {'source': {'id': 'google-news', 'name': 'Google News'},
  'author': 'MobilMania.cz',
  'title': 'Apple v březnu pustí do iPhonů cizí appstory. Na EU chce vyzrát vysokými poplatky za každé stažení nad limit - MobilMania.cz',
  'description': None,
  'url': 'https://news.google.com/rss/articles/CBMiqgFodHRwczovL21vYmlsbWFuaWEueml2ZS5jei9jbGFua3kvYXBwbGUtdi1icmV6bnUtcHVzdGktZG8taXBob251LWNpemktYXBwLXN0b3J5LW5hLWV1LWNoY2Utdnl6cmF0LXZ5c29reW1pLXBvcGxhdGt5LXphLWthemRlLXN0YXplbmktbmFkLWxpbWl0L3NjLTMtYS0xMzU5MzUzL2RlZmF1bHQuYXNweNIBAA?oc=5',
  'urlToImage': None,
  'publishedAt': '2024-01-26T09:25:41Z',
  'content': None},
 {'source': {'id': 'google-news', 'name': 'Google News'},
  'author': 'Zonebourse.com',
  'title': 'En Direct des Marchés : LVMH, Sartorius Stedim Biotech, Alten, Rémy Cointreau, Intel, Apple... - Zonebourse.com',
  'description': None,
  'url': 'https://news.google.com/rss/articles/CBMiiwFodHRwczovL3d3dy56b25lYm91cnNlLmNvbS9hY3R1YWxpdGUtYm91cnNlL0VuLURpcmVjdC1kZXMtTWFyY2hlcy1MVk1ILVNhcnRvcml1cy1TdGVkaW0tQmlvdGVjaC1BbHRlbi1SZW15LUNvaW50cmVhdS1JbnRlbC1BcHBsZS0tNDU4MTk3ODAv0gEA?oc=5',
  'urlToImage': None,
  'publishedAt': '2024-01-26T07:53:49Z',
  'content': None},
 {'source': {'id': 'google-news', 'name': 'Google News'},
  'author': 'BFM Bourse',
  'title': 'Microsoft : Après Apple, Microsoft pèse désormais plus de 3000 milliards de dollars en Bourse - BFM Bourse',
  'description': None,
  'url': 'https://news.google.com/rss/articles/CBMipAFodHRwczovL3d3dy50cmFkaW5nc2F0LmNvbS9taWNyb3NvZnQtVVM1OTQ5MTgxMDQ1L2FjdHVhbGl0ZXMvbWljcm9zb2Z0LWFwcmVzLWFwcGxlLW1pY3Jvc29mdC1wZXNlLWRlc29ybWFpcy1wbHVzLWRlLTMwMDAtbWlsbGlhcmRzLWRlLWRvbGxhcnMtZW4tYm91cnNlLTExMDI4MTMuaHRtbNIBAA?oc=5',
  'urlToImage': None,
  'publishedAt': '2024-01-25T14:46:00Z',
  'content': None}]